<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/transactions"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="transaction">
  <ion-grid>
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <ion-card>
          <ion-card-header>
            <h1>Transaction: {{ transaction.id }}</h1>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">Denomination: {{ transaction.denomination }}</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">Value: {{ transaction.netValue }}</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">Yield: {{ transaction.yield }}</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">Date: {{ transaction.inserted[0] }}-{{ transaction.inserted[1] }}-{{ transaction.inserted[2] }} {{ transaction.inserted[3] }}:{{ transaction.inserted[4] }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <ion-card>
          <ion-card-header>
            <h1>Customer: {{ transaction.customerName }}</h1>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">Email: {{ transaction.customerEmail }}</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">Phone: {{ transaction.customerPhone }}</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">Registered: {{ transaction.registered[0] }}-{{ transaction.registered[1] }}-{{ transaction.registered[2] }} {{ transaction.registered[3] }}:{{ transaction.registered[4] }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeSm="6" offsetSm="3">
        <ion-card>
          <ion-card-header>
            <h1>Parents</h1>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">Security: {{ transaction.securityName }}</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label class="ion-text-wrap">Issuer: {{ transaction.issuerName }}</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
