<ion-app>
  <ion-menu side="start" menuId="m1">
    <ion-header>
      <ion-toolbar>
        <ion-title>SEC-MAN</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="m1">
          <ion-item lines="none" routerLink="/categories/discover">
            <ion-icon name="newspaper-sharp" slot="start"></ion-icon>
            <ion-label>Securities</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="m1">
          <ion-item lines="none" routerLink="/distributors">
            <ion-icon name="business-sharp" slot="start"></ion-icon>
            <ion-label>Issuers</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="m1">
          <ion-item *ngIf="isAdmin" lines="none" routerLink="/transactions">
            <ion-icon name="card-sharp" slot="start"></ion-icon>
            <ion-label>Transactions</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="m1">
          <ion-item lines="none" routerLink="/profile">
            <ion-icon name="settings-sharp" slot="start"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="m1">
          <ion-item lines="none" routerLink="/messages">
            <ion-icon name="mail-sharp" slot="start"></ion-icon>
            <ion-label>Messages</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="m1">
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit-sharp" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
