<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Purchased</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
   <ion-grid *ngIf="!isLoading && (!loadedSecurities || loadedSecurities.length <= 0)">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <p>You haven't purchased any securities yet!</p>
      </ion-col>
    </ion-row>
   </ion-grid>
   <ion-grid *ngIf="!isLoading && loadedSecurities.length > 0">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-list
          *ngIf="(loadedSecurities)"
        >
          <ion-item *ngFor="let security of loadedSecurities" [routerLink]="['/', 'categories', 'purchased', security.id]" detail>
            <ion-label>
              <p>{{ security.id }}<p>
              <p>{{ security.faceValue }}</p>
              <p>{{ security.denomination }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
