<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Issuers</ion-title>
    <ion-buttons *ngIf="isAdmin" slot="primary">
      <ion-button routerLink="/distributors/new-issuer">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid *ngIf="!isLoading && (!loadedDistributors || loadedDistributors.length <= 0)">
   <ion-row>
     <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
       <p>There are no issuers right now, please come back later!</p>
     </ion-col>
   </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && loadedDistributors.length > 0">
   <ion-row>
     <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
       <ion-list
         *ngIf="(loadedDistributors)">
         <div *ngIf="isAdmin">
          <ion-item-sliding *ngFor="let issuer of loadedDistributors"
          #slidingDistributors>
            <ion-item
            [routerLink]="['/', 'distributors', issuer.id]" detail
            >
              <ion-label>
                <p>{{ issuer.name }}</p>
                <p>{{ issuer.name }}</p>
                <p>{{ issuer.email }}</p>
                <p>{{ issuer.phone }}</p>
                <p>{{ issuer.status === true ? 'Open' : 'Closed' }}</p>
              </ion-label>
            </ion-item>
            <ion-item-options>
              <ion-item-option
                color="danger"
                (click)="onDeleteDistributor(issuer.id, slidingDistributors)"
              >
                <ion-icon name="trash" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
         </div>
         <div *ngIf="!isAdmin">
          <ion-item
          [routerLink]="['/', 'distributors', issuer.id]" detail *ngFor="let issuer of loadedDistributors">
            <ion-label>
              <p><b>{{ issuer.name }}</b></p>
                <p>{{ issuer.email }}</p>
                <p>{{ issuer.phone }}</p>
                <p *ngIf="issuer.status == true"><ion-badge color="success">Open</ion-badge></p>
                <p *ngIf="issuer.status != true"><ion-badge color="danger">Closed</ion-badge></p>
            </ion-label>
          </ion-item>
         </div>
       </ion-list>
     </ion-col>
   </ion-row>
 </ion-grid>
</ion-content>

