<ion-header>
  <ion-toolbar>
    <ion-title>Stats</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Transactions by securities this year</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas class="lineChart" #lineChart height="300"></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Number of transactions this year</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas class="barChart" #barChart></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Age distribution</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas class="pieChart" #pieChart></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>