<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
                <ion-icon name="close-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="isGeneral">General</ion-title>
        <ion-title *ngIf="isInterests">Interests</ion-title>
        <ion-title *ngIf="isYields">Yields</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-list *ngIf="isGeneral">
            <ion-item>Face value: {{ security.faceValue }}</ion-item>
            <ion-item>Category: {{ security.categoryId }}</ion-item>
            <ion-item>Denomination: {{ security.denomination }}</ion-item>
            <ion-item>Gross value: {{ security.grossValue }}</ion-item>
            <ion-item>Net value: {{ security.netValue }}</ion-item>
            <ion-item>Term: {{ security.term }}</ion-item>
            <ion-item>Purchased: {{ security.purchased }}</ion-item>
        </ion-list>
        <ion-list *ngIf="isInterests">
            <ion-item>Interest: {{ security.interest }}</ion-item>
            <ion-item>Accrued interest: {{ security.accruedInterest }}</ion-item>
            <ion-item>Fixed interest: {{ security.fixedInterest }}</ion-item>
        </ion-list>
        <ion-list *ngIf="isYields">
            <ion-item>Yield: {{ security.yield }}</ion-item>
            <ion-item>Reference yield: {{ security.referenceYield }}</ion-item>
        </ion-list>
    </ion-grid>
</ion-content>