<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/categories/discover"></ion-back-button>
    </ion-buttons>
    <ion-title>New category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="f1" #f1="ngForm" (ngSubmit)="onSubmit(f1)">
    <ion-grid>
      <ion-row>
       <ion-col sizeSm="6" offsetSm="3">
         <ion-item>
           <ion-label position="floating">Name</ion-label>
           <ion-input 
           type="text" 
           name="name"
           ngModel
           required
           #nameCtrl="ngModel"></ion-input>
         </ion-item>
       </ion-col>
      </ion-row>
      <ion-row>
       <ion-col sizeSm="6" offsetSm="3">
         <ion-item>
           <ion-label position="floating">Description</ion-label>
           <ion-textarea 
           rows="3"
           name="description"
           ngModel
           #descriptionCtrl="ngModel"
           ></ion-textarea>
         </ion-item>
       </ion-col>
      </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Currency</ion-label>
            <ion-input 
            type="text" 
            name="currency"
            ngModel
            required
            #currencyCtrl="ngModel"></ion-input>
          </ion-item>
        </ion-col>
       </ion-row>
       <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Denomination</ion-label>
            <ion-input 
            type="text" 
            name="faceValue"
            ngModel
            required
            #faceValueCtrl="ngModel"></ion-input>
          </ion-item>
        </ion-col>
       </ion-row>
       <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label position="floating">Interest</ion-label>
            <ion-input 
            type="text" 
            name="interest"
            ngModel
            required
            #interestCtrl="ngModel"></ion-input>
          </ion-item>
        </ion-col>
       </ion-row>
       <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-item>
            <ion-label>Fixed Interest</ion-label>
            <ion-checkbox
            name="fixed"
            ngModel
            required
            #fixedCtrl="ngModel">
          </ion-checkbox>
          </ion-item>
        </ion-col>
       </ion-row>
      <ion-row>
        <ion-col sizeSm="6" offsetSm="3">
          <ion-button
          type="submit"
          color="primary"
          expand="block"
          [disabled]="!f1.valid">
          Create
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
